<% @user ||= current_user %>
<div class="stats">
  <a href="<%= attending_user_path(@user) %>">
  <strong id="following" class="stat">
      <!-- show check in events here -->
      # attended events 
    </strong>
  </a>
</div>