<% @user ||= current_user %>
<div class="stats">
  <a href="<%= attending_user_path(@user) %>">
  <strong id="following" class="stat">
      <%= @user.attending.count %>
      attended events 
    </strong>
  </a>
</div>