<% if signed_in? %>
  <div id="attend_form">
 <!-- check to see if user is attending event before display(aka render 'attend') DONE IN ATTEND PARTIAL ALREADY -->
    <%= render 'attend' %>
  </div>
<% end %>