<!-- This title and h1 will change depending on organization -->
<% provide(:title, "HSA Events") %>
<div class="container">

<%= render 'shared/event_form' %>

<h1> HSA Pipeline Events</h1>
<%= will_paginate %>

<ul class="events">
<%= render @events %>
</ul>

<%= will_paginate %>
</div>