<% provide(:title, @event.title) %>
<div class="container">
	<div class="row">
	  <aside class="span4">
	    <section>
	      <h1>
	        <%= @event.title %>
	        <%= render 'shared/statse' %>
	      </h1>
	    </section>
	  </aside>
	  <div class="span8">
	  	
	  </div>
	</div>
</div>