<div class="cur-mon">October</div>
<style>.cur-mon{margin:20px 0 30px 0; text-align:center; font-size:3.5rem;}</style>
<div class="cal-wrapper">
<div class="well" id="DOW">
	<div class="day-day"><p class="full-day">Sunday</p><p class="abbr-day">Sun</p></div>
	<div class="day-day"><p class="full-day">Monday</p><p class="abbr-day">Mon</p></div>
	<div class="day-day"><p class="full-day">Tuesday</p><p class="abrr-day">Tue</p></div>
	<div class="day-day"><p class="full-day">Wednesday</p><p class="abbr-day">Wed</p></div>
	<div class="day-day"><p class="full-day">Thursday</p><p class="abbr-day">Thu</p></div>
	<div class="day-day"><p class="full-day">Friday</p><p class="abbr-day">Fri</p></div>
	<div class="day-day"><p class="full-day">Saturday</p><p class="abbr-day">Sat</p></div>
</div>

<div class="cal-column">	
<div class="cal-day"></div>
<div class="cal-day">5</div>
<div class="cal-day">12</div>
<div class="cal-day">19</div>
<div class="cal-day">26</div>
</div>

<div class="cal-column">
<div class="cal-day"></div>
<div class="cal-day">6</div>
<div class="cal-day">13</div>
<div class="cal-day">20</div>
<div class="cal-day">27</div>
</div>

<div class="cal-column">
<div class="cal-day"></div>
<div class="cal-day">7</div>
<div class="cal-day">14</div>
<div class="cal-day">21</div>
<div class="cal-day">28</div>
</div>

<div class="cal-column">
<div class="cal-day">1</div>
<div class="cal-day">8</div>
<div class="cal-day">15</div>
<div class="cal-day">22</div>
<div class="cal-day">29</div>
</div>

<div class="cal-column">
<div class="cal-day">2</div>
<div class="cal-day">9</div>
<div class="cal-day">16</div>
<div class="cal-day">23</div>
<div class="cal-day">30</div>
</div>

<div class="cal-column">
<div class="cal-day">3</div>
<div class="cal-day">10</div>
<div class="cal-day">17</div>
<div class="cal-day">24</div>
<div class="cal-day">31</div>
</div>

<div class="cal-column">
<div class="cal-day">4</div>
<div class="cal-day">11</div>
<div class="cal-day">18</div>
<div class="cal-day">25</div>
<div class="cal-day"></div>
</div>
</div>



