@import 'bootstrap';

body {
	padding-top: 60px;
	background-color: #eeecef;	
}

#black-attempt {
	color: red;
	/* sublime black background-color: #272822; */
	background-color: #7D3B56;
}

.fb-login-button {
	display: inline;
	float: left;
	margin-top: .45em;
}

#logo {
	font-size: 1.85em;
	color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 1.25em;
    &:hover {
    	text-decoration: underline;
    	color: #fff;
    }
}

/* CALENDAR STYLINGS (Plus some form stylings) */

.cal-wrapper, .gen-wrapper {
	margin: 0 auto 0 auto;
	width: 80%; 
	height: 600px; 
}

.cal-day {
	height: 20%;
	width: 100%;
	background-color: #fff;
	margin: 1px;
}

.cal-column, .day-day {
	float: left;
	width: 14%;
	height: 100%;
	font-size: 2.25em;
	margin-right: 1px;
}

.day-box {
	height: 100%;
	width: 100%;
}

.day-day {
	margin-bottom: -1px;
	color: #fff	;
	font-size: 1.75em;
	text-align: center;
	vertical-align: text-center;
	padding-top: .75%;
}

#DOW {
	margin-bottom: -1px; 
	background-color: #404040;	
	color: red;
	padding: 0; 
	height: 4em;
	width: calc(100% - 14px)
	}

@media screen and (max-width : 1120px) {

	.cal-wrapper {
		width: 100%;
	}

	.cal-column, .day-day {
	float: left;
	width: 13.5%;
	height: 90%;
	font-size: 1.75em;
	margin-right:1px;
	}

	#DOW {
		width: calc(94.5% + 7px);
	}

	.full-day {
		display: none;
	}

	.abbr-day {
		display: auto;	
		float: center;
		background-color: pink;
		width: 110%;
	}
}

.input-group-addon {
	font-size: 2em;
}

.form-area {
	margin: 0 auto 0 auto;
	width: 40%;

}

.form-area > * {
	margin-bottom: 16px;
	font-size: 1.5em;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  	
}

input {
  height: 2em !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}




/* Media queries for non calendar pages */

@media screen and (max-width : 1120px) {
	.form-area {
		width: 60%;
	}
	
}



/* events-comments */

.events {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.comment {
  display: block;
}
.timestamp {
  color: #272822;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

